@{
    ViewData["Title"] = "Candidate Overview";
}
<h1>@ViewData["Title"]</h1>
<br />

<h2 className="position-absolute top-50 start-50 translate-middle bg-light p-3">Why hire Richard McKinnon?</h2>
<br>
<Row>
    <Col>
    <img src="~/images/mckinnon_profile.jpg" asp-append-version="true" class="img-fluid" />

     </Col>
    <Col>
        <img src="~/images/handshake.jpg" asp-append-version="true" class="img-fluid" className="w-50 mx-auto bg-light p-3" />

    </Col>
    <Col>
    <img src="~/images/bcbs_logo.jpg" asp-append-version="true" class="img-fluid" />

    </Col>
</Row>


<br />
<br />
<div>🎓: Richard is highly educated with a Master's degree in CS from ASU, as well as getting a head start in his career professionally since 2019 while concurrently in college.</div>
<br />
<div>🖥️ : Richard has 3 years of full-time engineering experience and has worked at a variety of companies and on multiple projects. He has professional experience in OOP languages such as C# and Java, and dynamic languages and frameworks including JavaScript, TypeScript, and React. He also has experience with databases like SQL and MSSQL, and is a capable learner!
</div>
<br />
<div>
    👨‍💻: Richard has had to react and adapt to everchanging
    requirements, projects, and even work enviornments. He has proven experience working remotely for most of his career including his recent tenure at PartNet.
</div>
<br />
<div>
    ✅ : Richard is a hardworking, curious, and a trustworthy person. He shows this by holding a government security clearance, and upon request can provide up to five references for each of the three companies he has worked at.
</div>

<br />
<a href="/files/McKinnon_Resume_new.pdf" target="_blank">Richard McKinnon Resume</a>